@mixin text($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}

@mixin button($color, $bg-color, $fw, $bg-color-hover, $border-color) {
  color: $color;
  font-weight: $fw;
  background-color: $bg-color;
  border: 1px solid $border-color;
  &:hover {
    background-color: $bg-color-hover;
    color: $color;
  }
}
