body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// Helper->Ưu tiên khai báo đầu tiên
@import './Helper/variables';
@import './Helper/mixin';


//Header
@import './Layouts/header';
@import './Layouts/slider';
@import './Layouts/intro';
@import './Layouts/bestproduct';
@import './Layouts/products';
@import './Layouts/story';
@import './Layouts/news';
@import './Layouts/video';
@import './Layouts/footer'
