body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./Helper/variables";
@import "./Helper/mixin";
@import "./Helper/reset";
@import "./Layouts/header";
@import "./Layouts/slider";
@import "./Layouts/introduction";
@import "./Layouts/more";
@import "./Layouts/procedure";
@import "./Layouts/banner";
@import "./Layouts/procedureMore";
@import "./Layouts/value";
@import "./Layouts/footer";
