.best_product {
    position: relative;
    .product_image {
        img {
            max-width: 1920px;
            max-height: 1073px;
            height: 100%;
            width: 100%;
        }
    }
    .best_product_content { 
        position: absolute;
        top: 110px;
        left: 9%;
        right: 9%;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            .title_content {
                text-align: center;
                h3 {
                    letter-spacing: 1.5px;
                    margin: 20px 0px;
                    @include text($color-orange-1, $fs-19, $fw-bold);
                }
                span {
                    display: block;
                    padding-bottom: 55px;
                    p {
                        line-height: 32px;
                        padding-bottom: 0px;
                        @include text($color-orange-1, $fs-2, $fw-normal)
                    }
                }
               
            }
        }
        .detail {
            display: flex;
            .item {
                width: 100%;
                position: relative;
                .image {
                    img {
                        max-width: 523px;
                        width: 100%;
                    }
                }
                .thread {    
                    position: absolute;
                    bottom: -10%;
                    width: 100%;
                    .thread_box {
                        width: 80%;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: 3px solid $color-dark-maroom;
                        background-color: $color-white-0;
                        padding: 10px 10px;
                        .thread_title {
                            line-height: 25px;
                            margin-bottom: $mg;
                            @include text($color-black-3, $fs-2, $fw-bold-2);
                        }
                        .thread_btn {
                            cursor: pointer;
                            width: 65px;
                            height: 66px;
                            margin-bottom: $mg;
                            border-radius: 50%;
                            background-color: $color-dark-maroom;
                            line-height: 66px;
                            text-align: center;
                            span {
                                @include text($color-white-0, $fs-2, $fw-bold-2);
                            }
                        }
                    }
                }
                .number {
                    display: block;
                    position: absolute;
                    top: -45px;
                    line-height: 80px;
                    text-align: center;
                    border-radius: 50%;
                    p {
                        margin: $mg;
                        display: inline;
                        @include text($color-brown-dark, $fs-4, $fw-bold-2);
                        border-bottom: 2px solid $color-brown-dark;
                    }
                }
            }
        }
    }
}
@include responsive("extra-large"){
   .best_product {
        .best_product_content {
            .title {
                margin-top: -105px;
            }
            .detail {
                .item {
                    .thread {
                        .thread_box {
                            .thread_title {
                                width: 75%;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
   }
}
@include responsive("large"){
    .best_product {
        .best_product_content {
            .title {
                margin-top: -68px;
                .title_content {
                    width: 100%;
                    h3 {
                        letter-spacing: 1.5px;
                        @include text($color-orange-1, $fs-40, $fw-bold);
                    }
                    span {
                        p {
                            @include text($color-orange-1, $fs-16, $fw-normal)
                        }
                    }
                   
                }
                
            }
            .detail {
                .item {
                    .thread {
                        .thread_box {
                            .thread_title {
                                @include text($color-black-3, $fs-0, $fw-bold-2);
                            }
                            .thread_btn {
                                cursor: pointer;
                                width: 40px;
                                height: 40px;
                                margin-bottom: $mg;
                                border-radius: 50%;
                                background-color: $color-dark-maroom;
                                line-height: 40px;
                                text-align: center;
                                span {
                                    @include text($color-white-0, $fs-16, $fw-bold-2);
                                }
                            }
                        }
                    }
                    .number {
                        width: 60px;      
                        height: 60px;
                        line-height: 45px;
                        top: -30px;
                        p {
                            margin: $mg;
                            display: inline;
                            @include text($color-brown-dark, $fs-2, $fw-bold-2);
                            border-bottom: 1px solid $color-brown-dark;
                        }
                    }
                }
            }
            
        }
   }
}
@include responsive("medium"){
    .best_product {
        // position: unset !important;
        // margin-top: 120px;
        .best_product_content {
            // position: unset !important;
            .title {
                margin-top: -85px;
                .title_content {
                    h3 {
                        letter-spacing: 1.5px;
                        @include text($color-orange-1, $fs-3, $fw-bold);
                    }
                    span {
                        display: block;
                        padding-bottom: 33px;
                        p {  
                            @include text($color-orange-1, $fs-1, $fw-normal);
                            line-height: 25px;
                        }
                    }
                    
                }
                
            }
            .detail {
                .item {
                    .thread {
                        .thread_box {
                            .thread_title {
                                @include text($color-black-3, $fs-1, $fw-bold-2);
                            }
                        }
                    }
                }
            }
        }
   }
}
@include responsive("small"){
    .best_product {
         position: unset !important;
        margin-top: 120px;
        .product_image {
            display: none;
        }
        .best_product_content {
            position: unset !important;
            text-align: center !important;
            .title {
                margin-top: -85px;
                .title_content {
                    h3 {
                        letter-spacing: 1.5px;
                        @include text($color-orange-1, $fs-3, $fw-bold);
                    }
                    p {
                        padding-bottom: 33px;
                        @include text($color-orange-1, $fs-16, $fw-normal)
                    }
                }
                
            }
            .detail {
                flex-direction: column;
                .item {
                    margin-bottom: 90px;
                    .thread {
                        width: 100%;
                    }
                }
            }
            
        }
   }
}