.width-default {
  max-width: 1520px;
  width: 100%;
  margin: auto;
}
a:link {
  text-decoration: none;
}
.header {
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      span {
        text-transform: uppercase;
        @include text($color-clear-blue, $fs-18-5, $fw-bold-2);
      }
    }
    .header__link {
      .header__link-box {
        display: flex;
        align-items: center;
        .header__link-box-li {
          padding: $pd $pd-19;
          a {
            position: relative;
            display: block;
            padding: $pd-45 $pd;
            @include text($color-black-4, $fs-16, $fw-normal);
          }
          .header__link-line {
            &::after {
              content: "";
              display: none;
              width: 100%;
              height: 3px;
              background-color: $color-clear-blue;
              position: absolute;
              bottom: -1px;
              left: 0;
              transition: all 0.5s;
            }
          }
          .active {
            &::after {
              display: inline-block;
            }
          }
        }
      }
    }
    .header__link-right {
      .header__link-box {
        display: flex;
        align-items: center;
        .header__link-box-li {
          a {
            display: block;
            padding: $pd-45 $pd-15;
            @include text($color-black-4, $fs-16, $fw-normal);
          }
        }
      }
    }
  }
}
