.introduction {
    position: relative;
    .introduction_content {
        .introduction_bg {
            display: flex;
            justify-content: center;
            background-color: #0659c3;
            img {
                max-width: 1920px;
                width: 100%;
                object-fit: cover;
            }
        }
        .introduction_slogan {
            position: absolute;
            height: 125px;
            top: 22%;
            left: 9%;
            h5 {
                text-transform: uppercase;
                letter-spacing: 5px;
                @include text($color-white-0, $fs-19, $fw-bold-2);
                margin-bottom: $mg-16;
            }
            span {
                @include text($color-white-0, $fs-2, $fw-normal);
                line-height: 35px;
                p {
                    margin-bottom: $mg;
                }
            }
        }
    }
}
@include responsive("extra-large"){
    .introduction {
        .introduction_content {
            .introduction_slogan {
                top: 17%;
                h5 {
                    @include text($color-white-0, $fs-4, $fw-bold-2);
                    margin-bottom: $mg-16;
                }
                span {
                    @include text($color-white-0, $fs-2, $fw-normal);
                }
            }
        }
    }
}
@include responsive("large"){
    .introduction {
        .introduction_content {
            .introduction_slogan {
                top: 12%;
                h5 {
                    @include text($color-white-0, $fs-40, $fw-bold-2);
                    margin-bottom: $mg-16;
                }
                span {
                    @include text($color-white-0, $fs-16, $fw-normal);
                }
            }
        }
    }
}
@include responsive("medium"){
    .introduction {
        .introduction_content {
            .introduction_slogan {
                left: 9%;
                h5 {
                    @include text($color-white-0, $fs-3, $fw-bold-2);
                    margin-bottom: $mg-16;
                }
                span {
                    @include text($color-white-0, $fs-1, $fw-normal);
                }
            }
        }
    }
}
@include responsive("small"){
    .introduction {
        .introduction_content {
            .introduction_bg {
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 250px;
                }
            }
            .introduction_slogan {
                left: 9%;
                top: 12%;
                text-align: center;
                h5 {
                    @include text($color-white-0, $fs-3, $fw-bold-2);
                    margin-bottom: $mg-1;
                }
                span {
                    @include text($color-white-0, $fs-1, $fw-normal);
                }
            }
        }
    }
}