.introduction {
  height: 685px;
  padding: 120px;
  .introduction__content {
    .introduction__top {
      margin-bottom: 82px;
      .introduction__title {
        text-align: center;
        margin-bottom: 41px;
        span {
          text-transform: uppercase;
          line-height: 1.2;
          @include text($color-black-4, $fs-40, $fw-normal);
        }
      }
      .introduction__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        span {
          line-height: 1.56;
          @include text($color-black-4, $fs-18, $fw-normal);
        }
      }
    }
    .introduction__bot {
      display: flex;
      align-items: center;
      justify-content: center;

      .introduction__item {
        .introduction__image {
          margin-bottom: 35px;
          text-align: center;
        }
        .introduction__thread {
          text-align: center;
          width: 100%;
          .introduction__thread-title {
            line-height: 1.47;
            margin-bottom: $mg-19;
            @include text($color-black-4, $fs-22-5, $fw-normal);
          }
          .introduction__thread-content {
            display: block;
            width: 70%;
            margin: auto;
            text-align: center;
            line-height: 1.42;
            @include text($color-black-4, $fs-22-5, $fw-bold-300);
          }
        }
      }
    }
  }
}
