.procedure {
  .procedure__content {
    .procedure__item {
      background-color: $color-bg;
      height: 640px;
      .procedure__item_box {
        padding: 120px 0px;
        display: flex;
        height: 640px;
        .procedure__thread {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .procedure__thread_box {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 0px 99px;
            .procedure__number {
              text-transform: uppercase;
              @include text($color-clear-blue, $fs-16, $fw-bold-500);
            }
            .procedure__title {
              padding: 29px 0px;
              text-transform: uppercase;
              line-height: 1.2;
              width: 45%;
              @include text($color-black-4, $fs-40, $fw-normal);
            }
            .procedure__content {
              text-transform: uppercase;
              line-height: 1.56;
              width: 67%;
              @include text($color-black-4, $fs-18, $fw-bold-300);
            }
          }
        }
      }
    }
    .procedure__item_two {
      height: 640px;
      .procedure__thread_two_box {
        padding: 120px 0px;
        display: flex;
        height: 640px;
        align-items: center;
        .procedure__thread_two {
          display: flex;
          flex-direction: column;
          .procedure__thread_box {
            display: flex;
            flex-direction: column;
            align-items: right;
            text-align: right;
            padding: 0px 99px;
            .procedure__number {
              text-transform: uppercase;
              @include text($color-clear-blue, $fs-16, $fw-bold-500);
            }
            .procedure__title {
              padding: 29px 0px;
              text-transform: uppercase;
              line-height: 1.2;
              padding-left: 450px;
              @include text($color-black-4, $fs-40, $fw-normal);
            }
            .procedure__content {
              text-transform: uppercase;
              line-height: 1.56;
              margin-right: auto;
              padding-left: 250px;
              @include text($color-black-4, $fs-18, $fw-bold-300);
            }
          }
        }
      }
    }
  }
}
