.slider {
    background-color: $color-tomato-1;
    .slider_image {
        display: flex;
        justify-content: center;
        img {
            max-width: 1920px;
            width: 100%;
            object-fit: cover;
            text-align: center;
        }
    }
}
@include responsive("medium"){
        
}
@include responsive("small"){
    .slider {
        display: none;
    }
}