.slider {
    .slider_image {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
@include responsive("medium"){
        
}
@include responsive("small"){
    .slider {
        display: none;
    }
}