.story {
    position: relative;
    .story_image {
        img {
            max-width: 1920px;
            width: 100%;
            text-align: center;
        }
    }
    .story_content {
        position: absolute;
        top: 149px;
        left: 335px;
        .story_title {
            text-align: center;
            h3 {
                text-transform: uppercase; 
                letter-spacing: 1.5px;
                line-height: 60px;
                margin-bottom: 40px;
                @include text($color-yellow, $fs-45, $fw-bold);
            }
            span {
                display: block;
                padding-bottom: 47px;
                p {
                    line-height: 30px;
                    @include text($color-yellow, $fs-16, $fw-bold-300);
                }
            }
        }
        .story_item {
            max-width: 1253px;
            width: 100%;
            border-top: 24px solid $color-black-2;
            .row {
                padding: 0px !important;
                margin: 0px !important;
                .col-md-6 {
                    padding: 0px !important;
                    margin: 0px !important;
                }
                .col-sm-12 {
                    padding: 0px !important;
                    margin: 0px !important;
                }
            }
            .item {
                border-top: 3px solid $color-black-2;
                .item_left {
                    height: 418px;
                    img {
                        
                        width: 100%;
                        height: 100%;
                    }
                }
                .item_right {
                    padding: 0px 68px;
                    height: 419px;
                    background-color: $color-white-0;
                    border-top: 3px solid $color-black-2;
                    border-bottom: 3px solid $color-black-2;
                    border-right: 3px solid $color-black-2;
                    border-left: 3px solid $color-black-2;
                    h5 {
                        text-transform: uppercase; 
                        padding-top: 63px;
                        @include text($color-black-3, $fs-22, $fw-bold-2);
                    }
                    p {
                        line-height: 1.88;
                        margin-top: 33px;
                        margin-bottom: 47px;
                        @include text($color-black-3, $fs-16, $fw-bold-300);
                    }
                    a {
                        border: 3px solid $color-black-2;
                        padding: $pd-1 $pd-3;
                        @include text($color-black-3, $fs-23, $fw-bold-2);
                    }
                }
            }
        }
    }
}
@include responsive("extra-large"){
    .story {
       
        .story_content { 
            .story_item {
                .item {
                    .item_right {
                        h5 {
                            text-transform: uppercase; 
                            @include text($color-black-3, $fs-18, $fw-bold-2);
                        }
                        p {
                            margin-bottom: 40px;
                            @include text($color-black-3, $fs-1, $fw-bold-300);
                        }
                        a {
                            @include text($color-black-3, $fs-18, $fw-bold-2);
                        }
                    }
                }
            }
        }
    }
}
@include responsive("large"){
    .story {
        .story_content { 
            .story_item {
                .item {
                    .item_right {
                        h5 {
                            text-transform: uppercase; 
                            @include text($color-black-3, $fs-16, $fw-bold-2);
                        }
                        p {
                            margin-bottom: 40px;
                            @include text($color-black-3, $fs-0, $fw-bold-300);
                        }
                        a {
                            @include text($color-black-3, $fs-16, $fw-bold-2);
                        }
                    }
                }
            }
        }
    }
}
@include responsive("medium"){
    .story {
        height: 950px;
        .story_content { 
            padding-top: 20px;
            .story_title {
                h3 {
                    @include text($color-yellow, $fs-40, $fw-bold);
                }
                p {
                    padding-top: 20px;
                    margin-bottom: 70px;
                    @include text($color-yellow, $fs-1, $fw-bold-300);
                }
            }
            .story_item {
                .item {
                    .item_right {
                        h5 {
                            text-transform: uppercase; 
                            @include text($color-black-3, $fs-16, $fw-bold-2);
                        }
                        p {
                            margin-bottom: 20px;
                            @include text($color-black-3, $fs-0, $fw-bold-300);
                        }
                        a {
                            @include text($color-black-3, $fs-16, $fw-bold-2);
                        }
                    }
                }
            }
        }
    }
}
@include responsive("small"){
    .story {
        .story_content { 
            .story_title {
                h3 {
                    @include text($color-yellow, $fs-4, $fw-bold);
                }
            } 
        }
    }
}