.video {
    background-image: url('../../images/videobg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 0px;
    .video_content {
        .video_title {
            width: 65%;
            margin: auto;
            text-align: center;
            h3 {
                text-transform: uppercase; 
                letter-spacing: 2px;
                @include text($color-black-2, $fs-19, $fw-bold);
            }
            p {
                padding: $pd-2;
                @include text($color-black-2, $fs-2, $fw-bold-300);
            }
            a {
                border: 3px solid $color-black-2;
                padding: $pd-1 $pd-3;
                @include text($color-black-2, $fs-23, $fw-bold-2);
            }
        }
        .video_item {
           display: flex;
           justify-content: center;
           margin-top: 50px;
            img {
                width: 50%;
                object-fit: cover;
            }
        }
    }
}
@include responsive("extra-large"){
    .video {
            .video_item {
                 img {
                     width: 70%;
                     object-fit: cover;
                 }
             }
            
        }
}
@include responsive("large"){
    .video {
       
        .video_content {
            .video_title {
                h3 {
                    text-transform: uppercase; 
                    letter-spacing: 2px;
                    @include text($color-black-2, $fs-40, $fw-bold);
                }
                p {
                    padding: $pd-2;
                    @include text($color-black-2, $fs-2, $fw-bold-300);
                }
                a {
                    border: 3px solid $color-black-2;
                    padding: $pd-1 $pd-3;
                    @include text($color-black-2, $fs-22, $fw-bold-2);
                }
            }
            .video_item {
                 img {
                     width: 70%;
                     object-fit: cover;
                 }
             }
            
        }
    }
}
@include responsive("medium"){
    .video {
       
        .video_content {
            .video_title {
                h3 {
                    text-transform: uppercase; 
                    letter-spacing: 2px;
                    @include text($color-black-2, $fs-4, $fw-bold);
                }
                p {
                    padding: $pd-2;
                    @include text($color-black-2, $fs-2, $fw-bold-300);
                }
                a {
                    border: 3px solid $color-black-2;
                    padding: $pd-1 $pd-3;
                    @include text($color-black-2, $fs-2, $fw-bold-2);
                }
            }
            .video_item {
                 img {
                     width: 70%;
                     object-fit: cover;
                 }
             }
            
        }
    }
}
@include responsive("small"){
    .video {
       
        .video_content {
            .video_title {
                h3 {
                    text-transform: uppercase; 
                    letter-spacing: 2px;
                    @include text($color-black-2, $fs-4, $fw-bold);
                }
                p {
                    padding: $pd-2;
                    @include text($color-black-2, $fs-1, $fw-bold-300);
                }
                a {
                    border: 3px solid $color-black-2;
                    padding: $pd-1 $pd-3;
                    @include text($color-black-2, $fs-2, $fw-bold-2);
                }
            }
            .video_item {
                 img {
                     width: 70%;
                     object-fit: cover;
                 }
             }
            
        }
    }
}